<p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @customer.company %>
</p>

<p>
  <b>Sex:</b>
  <%= @customer.sex %>
</p>

<p>
  <b>Title:</b>
  <%= @customer.title %>
</p>

<p>
  <b>First name:</b>
  <%= @customer.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @customer.last_name %>
</p>

<p>
  <b>Street:</b>
  <%= @customer.street %>
</p>

<p>
  <b>Street number:</b>
  <%= @customer.street_number %>
</p>

<p>
  <b>Zip:</b>
  <%= @customer.zip %>
</p>

<p>
  <b>City:</b>
  <%= @customer.city %>
</p>

<p>
  <b>Country:</b>
  <%= @customer.country %>
</p>

<p>
  <b>Tel fixline:</b>
  <%= @customer.tel_fixline %>
</p>

<p>
  <b>Tel mobile:</b>
  <%= @customer.tel_mobile %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>


<h3>Test Objects</h3>
<table>
  <tr>
    <th>Description</th>
  </tr>

<% for test_objects in @customer.test_objects %>
  <tr>
    <td><%=  test_objects.desc %></td>
  </tr>
<% end %>

</table>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
